repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.0.1
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: name-tests-test
        exclude: ^tests/fixtures/
        args:
          - '--django'
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: 'https://github.com/pycqa/isort'
    rev: 5.9.3
    hooks:
      - id: isort
        args:
          - '--settings'
          - .codestyle/.isort.cfg
  - repo: 'https://github.com/ambv/black'
    rev: 21.9b0
    hooks:
      - id: black
        language_version: python3.6
  - repo: 'https://github.com/PyCQA/flake8'
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-black>=0.1.1
        language_version: python3
        args:
          - '--config'
          - .codestyle/.flake8
  - repo: 'https://github.com/pre-commit/mirrors-mypy'
    rev: v0.910
    hooks:
      - id: mypy
        args:
          - '--config-file=.codestyle/.mypy.ini'
        additional_dependencies:
          - types-all
  - repo: 'https://github.com/PyCQA/bandit'
    rev: 1.7.0
    hooks:
      - id: bandit
        args:
          - '--configfile'
          - .codestyle/.bandit
          - '-ll'
          - '-ii'
  - repo: 'https://github.com/crate-ci/typos'
    rev: v1.1.9
    hooks:
      - id: typos
        args:
          - '--config'
          - .codestyle/.typos.toml
  - repo: 'https://github.com/asottile/pyupgrade'
    rev: v2.26.0
    hooks:
      - id: pyupgrade
        args:
          - '--py36-plus'
  - repo: 'https://github.com/asottile/setup-cfg-fmt'
    rev: v1.17.0
    hooks:
      - id: setup-cfg-fmt
